<!DOCTYPE html>
<html>

<head>
{% include "templates/head.html" %}

<title>Gamble Bitcoin</title>
</head>

<body>

	{% include "templates/header.html" %}

	<div class="container">
		<div class="span12">.</div>
		<div class="span12">.</div>

		<div class="hero-unit">Send bitcoins to any of the betting
			addesses and receive the payout if the block your transaction is
			included in ends in the digit specified for that address.</div>


		{% include "templates/footer.html" %}

	</div>
	<!-- /container -->


</body>
</html>
